<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Angular Controller &lt;&gt; Directive communication example</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div class="container" ng-controller='MainCtrl'>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<h3 class="panel-title">Settings</h3>
			  	</div>
			  	<div class="panel-body">
					<input type="radio" name="speed" ng-model="speed" value="-1" /> off
					<input type="radio" name="speed" ng-model="speed" value="1000" /> 1000 ms
					<input type="radio" name="speed" ng-model="speed" value="500" /> 500 ms
					<input type="radio" name="speed" ng-model="speed" value="250" /> 250 ms
					<input type="radio" name="speed" ng-model="speed" value="100" /> 100 ms
					<input type="radio" name="speed" ng-model="speed" value="50" /> 50 ms
					<input type="radio" name="speed" ng-model="speed" value="25" /> 25 ms
			  	</div>
			</div>			
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<h3 class="panel-title">Data view</h3>
			  	</div>
			  	<div class="panel-body">
					<data data="image"></data>
			  	</div>
			</div>		
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<h3 class="panel-title">Node status</h3>
			  	</div>
			  	<div class="panel-body">
					<nodes nodes="nodes"></nodes>
			  	</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<h3 class="panel-title">Command status</h3>
			  	</div>
			  	<div class="panel-body">
					<commands></commands>
			  	</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<h3 class="panel-title">Thread pool status</h3>
			  	</div>
			  	<div class="panel-body">
					<threadpool></threadpool>
			  	</div>
			</div>
		</div>
	</div>
	<div>{{duration}} | {{speed}}</div>
</div>
</body>
</html>
